---
import Layout from '@/layouts/index.astro'
---

<Layout title='Página no encontrada'>
  <main class="flex h-screen flex-col items-center p-5">
    <h1 class="font-bold text-5xl text-red-500">Error 404</h1>
    <h2 class="font-bold text-xl text-gray-700 dark:text-gray-300">La página que estas buscando no se encuentra</h2>
    <a class="mt-6 rounded-lg font-semibold px-4 py-2 transition-colors bg-zinc-900 dark:bg-zinc-200 hover:bg-zinc-800/90 dark:hover:bg-zinc-200/90 text-gray-100 dark:text-gray-900" href="/">Volver a la página principal</a>
  </main>
</Layout>
