---
import Layout from '@/layouts/index.astro'
import { Prisma } from '@/lib/prisma'

const { code } = Astro.params
const isLoged = Astro.locals.session !== null

const link = await Prisma.link.findFirst({
  where: {
    code
  },
  select: {
    url: true
  }
})
---

<Layout title={`${code} | ShortLD`} >
  <main class="flex items-center min-h-screen" data-url={link?.url} data-session={Astro.locals.session !== null}>
    <section class="max-w-lg mx-auto text-lg text-center space-y-4 font-semibold">
      {isLoged
        ? <p>Redirigiendo...</p>
        : <>
          <p class="text-balance">Es feo y poco práctico usar enlaces largos. ¿Por qué no acortarlos?</p>
          <p class="">Acorta cualquier enlace gratis.</p>
          <a href="/" target="_blank" class="inline-block py-2 px-4 rounded-lg bg-emerald-600 hover:bg-emerald-700">!Acortar enlace¡</a>
        </>
      }
    </section>
  </main>
</Layout>

<script>
  const main = document.querySelector('main')
  if (main !== null) {
    const session: boolean = JSON.parse(main.dataset.session ?? 'false')
    const url = main.dataset.url

    if (url !== undefined) {
      if (session) {
        location.assign(url)
      } else {
        setTimeout(() => {
          location.assign(url)
        }, 4_000)
      }
    }
  }
</script>
