---
import PublicLayout from '@/layouts/publicLayout.astro'
import ShortenLink from '@/components/shortenLink.astro'

const { session } = Astro.locals
---

<PublicLayout>
	<section class="max-w-xl mx-auto py-20 space-y-2 text-lg text-balance font-semibold">
		<p>Acortador de enlaces, tienes un enlace muy largo que quieres compartir con alguien o quieres publicar en tu bio o en una publicación.</p>
		<p>Acortalo, quedará mucho mejor</p>
	</section>

	<ShortenLink session={session} />
</PublicLayout>
